
.contactus-wrapper{
    background-color: var(--color-blue);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gif-image{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--color-green);
    font-size: 2rem;
}

.form{
    width: 50%;
    font-weight: bold;
    border-right: 1px solid white;
    padding: 2.5rem;
    color: white;
}

.form-container{
    width: 100vw;
    background-color: var(--color-blue);
    display: flex;
}

.form-group {
    width: 100%;
    margin-bottom: 2rem;
  }
 
  label {
    font-size: 1.4rem;
  }

  input,
  textarea {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: rgb(255, 242, 242);
    outline: none;
    border: none;
    border-radius: 8px;
    margin-top: 1rem;
  }
  textarea {
    min-height: 200px;
    resize: vertical;
  }

  button[type='submit'] {
    background-color: var(--color-green);
    color: var(--color-blue);
    font-size: 1.5rem;
    display: inline-block;
    outline: none;
    border: none;
    padding: 1rem 4rem;
    border-radius: 8px;
    cursor: pointer;
  }

  button:hover{
    background-color: rgb(19, 166, 192);
  }

  .contact-main-img{
    width: 100vw;
    height: 100px;
    object-fit: cover;
    position: relative;
    opacity: 0.3;
  }

  .contact-main-heading{
    position: absolute;
    top: 15px;
    font-size: 3rem;
    color: var(--color-green);
    margin-bottom: 3rem;
}